@font-face {
    font-family: "DiaPro";
    src: url(./hw01/src/DiaPro-Regular.ttf);
}
@font-face {
    font-family: "Fira Code";
    src: url(./hw01/src/FiraCode-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');


body{
    max-width: 100%;
    height: fit-content;
    position: relative;
    color: var(--dark-color);
    background: var(--dark-bg);
    overflow-y: scroll;
}

/* scrollbar */ 
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-button{
}
::-webkit-scrollbar-track-piece{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 7px;
    background-color: var(--dark-secondary-color);
    opacity: .4;
}
::-webkit-scrollbar-track{
    box-shadow: transparent;
}


/* profile */
.profile{
    margin: 2rem;
    position: relative;
    right: .3rem;
    display: flex;
    align-items: center;
    float: right;
}
.profile-photo img{
    aspect-ratio: 1/1;
    width: 3rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.profile p{
    margin: 0;
    padding: 0 1rem;
}


/* float folder */
@keyframes float-animation{
    from { transform: translateY(0); }
    to { transform: translateY(15px); }
}
.folder{
    padding: 1rem;
    position: fixed;
    bottom: 10vh;
    right: 5vw;
    float: right;
    z-index: 999;

    border-radius: 50%;
    background-color: var(--dark-color);

    animation: float-animation .7s ease infinite alternate;
}
.folder svg{
    color: var(--dark-bg)
}


/* progress pie chart */
#progress_chart{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
#my_progress{
    transition: all .7s ease-in-out;
}
#progress_score{
    margin: 0;
    position: absolute;
    z-index: 10;
}
#my_score{
    font-size: 3.8rem;
    font-weight: bolder;
    color: var(--theme-color)
}
#full_score{
    color: var(--theme-color);
    opacity: .7;
}


/* progress table */
#progress{
    margin-left: 5vw;
}
#progress_table{
    width: 100%;
    position: relative;
    border-top: 1px solid var(--dark-color);
    text-align: left;
    vertical-align: middle;
}
/* #progress_table .split-table{
    position: relative;
}
#progress_table .split-table::before, */
#progress_table::before{
    content: "";
    width: 100%;
    position: absolute;
    top: -3px;
    display: block;
    border-top: 1px solid var(--dark-color);
}
#progress_table::after{
    content: "";
    width: 100%;
    position: absolute;
    bottom: -3px;
    display: block;
    border-bottom: 1px solid var(--dark-color);
}
#progress_table tr,
#progress_table th,
#progress_table td{
    padding: .5rem;
    border-bottom: 1px solid var(--dark-color);
}
#progress_table:not(.score, .checkbox-td){
    font-size: .9rem;
}

#progress_table .tr-title{
    font-weight: bold;
}

.progress-check{
    width: 2.5rem;
    height: 1.2rem;
    position: relative;
    -webkit-appearance: initial;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    border-radius: .6rem;
    background: var(--dark-secondary-color);
}
.progress-check::after{
    content: "";
    width: 1.1rem;
    height: 1.1rem;
    margin: 0 0 0 .1rem;
    position: absolute;
    top: .05rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--dark-color);
    background-image: url("./src/icon/unchecked.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    color: var(--dark-color);
    font-family: "IBM Plex Sans Arabic";
    font-size: 1rem;

    transform: translate(0, 0);
    transition: all .5s ease-in-out;
}
.progress-check::after:hover{
    color: var(--dark-color);
}
.progress-check:checked::after{
    content: "";
    /* background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="1.1rem" height="1.1rem" fill="#5f7279" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>');; */
    background-image: url("./src/icon/checked.svg");
    transform: translate(1.2rem, 0);
    transition: all .5s ease-in-out;
}


/* content */
#content{
    margin-top: -2rem;
    margin-bottom: 10rem;
}
.title{
    margin-top: 2rem;
}
.title p{
    color: var(--dark-teriary-color)
}
.title-hr{
    height: 2px  !important;
    margin-bottom: .5rem;
    color: var(--dark-secondary-color);
}
#content h1,
#content h2{
    font-weight: bold;
}
#content h2{
    padding-top: 2.7rem;
    font-size: 1.8rem;
    color: var(--dark-secondary-color);
}
#content h2:first-of-type{
    padding-top: 1.2rem;
}
#content h3{
    padding-top: 1.5rem;
    font-size: 1.5rem;
}
#content p{
    margin: 0;
}
#content img{
    width: 100%;
    margin-bottom: 1rem;
}



@media (max-width: 576px) {
    #progress{
        /* width: 100%; */
        min-height: calc(100vh - 7rem);
        margin: auto;

        /* background-color: var(--dark-teriary-bg); */
    }
    #content{
        margin-top: 0;
    }
}