@font-face {
    font-family: "DiaPro";
    src: url(./hw01/src/DiaPro-Regular.ttf);
}
@font-face {
    font-family: "Fira Code";
    src: url(./hw01/src/FiraCode-Regular.ttf);
}


body{
    max-width: 100%;
    height: fit-content;
    position: relative;
    color: var(--dark-color);
    background: var(--dark-bg);
    overflow-y: scroll;
}

.profile{
    margin: 2rem;
    position: relative;
    right: .3rem;
    display: flex;
    align-items: center;
    float: right;
}
.profile-photo img{
    aspect-ratio: 1/1;
    width: 3rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.profile p{
    margin: 0;
    padding: 0 1rem;
}


@keyframes float-animation{
    from { transform: translateY(0); }
    to { transform: translateY(15px); }
}
.folder{
    padding: 1rem;
    position: fixed;
    bottom: 10vh;
    right: 5vw;
    float: right;
    z-index: 999;

    border-radius: 50%;
    background-color: var(--dark-color);

    animation: float-animation .7s ease infinite alternate;
}
.folder svg{
    color: var(--dark-bg)
}


#progress_chart{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
#my_progress{
    transition: all .7s ease-in-out;
}
#progress_score{
    margin: 0;
    position: absolute;
    z-index: 10;
}
#my_score{
    font-size: 3.8rem;
    font-weight: bolder;
    color: var(--theme-color)
}
#full_score{
    color: var(--theme-color);
    opacity: .7;
}


#content{
    margin-bottom: 10rem;
}
.title{
    margin-top: 2rem;
}
.title p{
    color: var(--dark-teriary-color)
}
.title-hr{
    height: 2px  !important;
    margin-bottom: .5rem;
    color: var(--dark-secondary-color);
}
#content h1,
#content h2{
    font-weight: bold;
}
#content h2{
    padding-top: 1.5rem;
    font-size: 1.8rem;
    color: var(--dark-secondary-color);
}
#content h3{
    padding-top: 1.5rem;
    font-size: 1.5rem;
}
#content p{
    margin: 0;
}
#content img{
    width: 100%;
    margin-bottom: 1rem;
}